html {
  overflow: auto;
}

.scrollable {
  overflow-x: auto;
}

.container {
  width: 90% !important;
  max-width: inherit;
}

#debt-return {
  display: none;
}

#debt-return.active {
  display: block;
}