html {
  overflow: auto;
}

.scrollable {
  overflow-x: auto;
  min-width: 700px;
  max-width: 100%;
}

#sidenav-overlay {
  z-index: 1;
}

.side-nav {
  top: 58px;
}

.container {
  width: 90% !important;
  max-width: inherit;
}

div.recent {
  max-height: 465px;
  overflow: auto;
}

#debt-return {
  display: none;
}

#debt-return.active {
  display: block;
}

/* TABLES */
#dates {
  min-width: 110px;
}

#dates td {
  position: relative;
}

#dates td > a {
  position: absolute;
  top: 13px;
  right: 5px;
}

#spendings {
  width: calc(100% - 110px);
  table-layout: fixed;
}

#spendings th, #spendings td {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  width: calc(100% / 12);
}