<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8"/>
  <title>LifeStat</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"/>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

  <div class="navbar-fixed">
    <nav class="teal darken-1">
      <a class="brand-logo right">LifeStat&nbsp;</a>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class="active"><a>Home</a></li>
          <li><a href="debts">Debts</a></li>
          <li><a href="income">Incomes</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">

    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <h5>New entry</h5>
          <div class="divider"></div>
          <p th:text="'Current Balance: ' + ${balance}"></p>
          <label>Bill sum:</label>
          <input type="number" step="0.01" id="bill-sum"/>
          <form method="post" id="spending-form">
            <div class="row">
              <label for="date" class="">Date:</label>
              <input type="date" name="date" id="date"/>
            </div>
            <div class="row">
              <div class="input-field">
                <select name="category" id="category">
                  <option th:each="c: ${categories}" th:value="${c}" th:text="${c}"></option>
                </select>
                <label for="category">Category:</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <input type="number" step="0.01" name="amount" id="amount"/>
                <label for="amount">Amount:</label>
              </div>
            </div>
            <input class="waves-effect waves-light btn" type="submit" value="Save"/>
          </form>
        </div>
        <div class="col s12 m6">
          <h5>Recent</h5>
          <table class="bordered">
            <tr>
              <th>date</th>
              <th>category</th>
              <th>amount</th>
            </tr>
            <tr th:each="sp: ${spendings}">
              <td th:text="${sp.date}"></td>
              <td th:text="${sp.category}"></td>
              <td th:text="${sp.amount}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <h5>Current Month</h5>
      </div>
      <div class="row scrollable">
        <div class="col s2">
          <table class="bordered">
            <tr><th>Date</th></tr>
            <tr th:each="ds: ${dailySpendings}">
              <td th:text="${ds.key}"></td>
            </tr>
          </table>
        </div>
        <div class="col s10">
          <table class="bordered">
            <tr>
              <th th:each="c: ${categories}" th:text="${c}"></th>
            </tr>
            <tr th:each="ds: ${dailySpendings}">
              <td th:each="am: ${ds.value}" th:text="${am}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  <script>
    $(document).ready(function () {
      var billSum = $('#bill-sum');
      billSum.val($.cookie('billSum') ? $.cookie('billSum') : '');

      $('#category').material_select();

      $('#spending-form').submit(function (event) {
        var billValue = $('#bill-sum').val();
        if (billValue > 0) {
          billValue -= $('#amount').val();
          $.cookie('billSum', billValue);
        } else {
          $.cookie('billSum', null);
        }
      });
    });
  </script>

</body>
</html>